.sidebar-container {
  display: flex;
  align-items: left;
  padding: 20px;
}

.sidebar-card {
  width: 100%;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  flex-shrink: 0;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.sidebar-wrapper {
  padding: 10px;
}

.sidebar-content {
  padding: 20px;
}

.sidebarList {
  margin: 0;
  padding: 0;
}

.button {
  margin-top: 20px;
}

.button button {
  width: 150px;
  padding: 10px;
}

.hr {
  margin-top: 20px;
}

.profile-list {
  margin-top: 20px;
}

.profile-list img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}