.custom-container{
    width: 100%;
    border-radius: 0.375rem;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pc{
    width: 90%;
    margin: 20px;
    border-radius: 4px;
    padding-bottom: 20px;
    background: #ffffff;
}

.gradiant{
    background-image: linear-gradient(#F06112, #006ad9);
    height: 125px;
    border-radius: 4px 4px 0px 0px;
}

.profile-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-down img{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    margin-top: -75px;
    padding: 5px;
    background-color: #ffffff;
}

.profile-title{
    font-size: 36px;
    font-weight: 600;
}

.profile-information{
    padding: 2px 2px;
    font-size: 16px;
}

.profile-description{
    padding: 15px 15px;
    font-size: 16px;
}

.profile-button{
    font-size: 16px;
    background: #006ad9;
    color: white;
    margin: 10px 100px;
    padding-top: 8px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.profile-button:hover {
    background-color: #0053ad;
}

.connect-button {
    text-align: right;
    width: auto;
    font-size: 16px;
    background: #F06112;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px;
    margin-left: 90%;
    display: flex;
    flex-direction: row;
}

.connect-button .icon {
    display: inline-flex;
    margin-right: 5px;
}

.connect-button .text {
    white-space: nowrap;
}
